<h1>Iniciar Sesion</h1>
<form [formGroup]="loginForm">
  <label>
    Email
    <input
    autocomplete="off"
    type="email"
     name="email"
      formControlName="email">
  </label>
  <div class="erros-container" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
    <p class="text-danger" *ngIf="emailControl.hasError('required')">El Campo es obligatorio </p>
    <p class="text-danger" *ngIf="emailControl.hasError('email')">El Email debe ser un email valido </p>
  </div>
  <label>
    Contraseña
    <input type="password" name="password" formControlName="password">
  </label>
  <div class="erros-container" *ngIf="passwordControl.invalid && (passwordControl.touched || passwordControl.dirty)">
    <p class="text-danger" *ngIf="passwordControl.hasError('required')">El Campo es obligatorio </p>
  </div>
</form>
<button
[disabled]="loginForm.invalid"
(click)="signIn()" type="button" class="btn btn-outline-primary">Ingresar</button>



